.top-nav .input-group {
  width: 55%;
  margin: 0 auto;
  border-radius: 30px;
}
.top-nav .input-group input {
  border-radius: 30px;
}
.top-nav .dropdown {
  position: relative;
  display: inline-block;
}

.top-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 31px;
  left: -119%;
  font: normal normal 600 16px/33px El Messiri;

  z-index: 1;
}
.top-nav .dropdown-content p {
  margin-bottom: 0;
}
.top-nav .dropdown:hover .dropdown-content {
  display: block;
}
.top-nav h5 {
  font: normal normal 600 25px/33px El Messiri;
  letter-spacing: 1.25px;
  color: #2f4f4f;
}
.top-nav img {
  box-shadow: 2px 2px 7px #00000066;
  border-radius: 1000px;
  width: 46px;
  height: 46px;
  display: inline;
  margin-right: 9px;
}
.top-nav .p-3 {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}
.top-nav .fa-bars {
  margin-right: 5px;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 530px) {
  .top-nav img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 428px) {
  .top-nav img {
    width: 30px;
    height: 30px;
  }
  .top-nav h5 {
    font: normal normal 600 18px/33px El Messiri;
  }
  .top-nav .input-group input {
    font: normal normal 600 13px/33px El Messiri;
    height: 27px;
  }
  .top-nav .dropdown-content {
    left: -214%;
    font: normal normal 600 14px/19px El Messiri;
    text-align: center;
  }
  .top-nav .fa-bars {
    margin-right: 3px;
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .top-nav img {
    width: 24px;
    height: 24px;
  }
  .top-nav h5 {
    font: normal normal 600 13px/33px El Messiri;
  }
  .top-nav .input-group input {
    font: normal normal 600 11px/33px El Messiri;
    height: 27px;
  }
  .top-nav .dropdown-content {
    left: -214%;
    font: normal normal 600 11px/19px El Messiri;
    text-align: center;
  }
  .top-nav .fa-bars {
    margin-right: 3px;
    font-size: 15px;
  }
}
